{% extends 'store/base.html' %}
{% load custom_tags %}


{% block title %}Корзина{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Ваша корзина</h2>
    {% if cart_items %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Цена за единицу</th>
                    <th>Общая стоимость</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity|multiply:item.product.price }}</td>
                    <td>
                        <form action="{% url 'remove_from_cart' item.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="text-end fw-bold">Итоговая сумма: {{ order.total_price }}</p>
        <a href="{% url 'checkout' %}" class="btn btn-success">Оформить заказ</a>
    {% else %}
        <p class="text-center">Ваша корзина пуста.</p>
    {% endif %}
</div>
{% endblock %}