{% extends 'store/base.html' %}

{% block title %}Редактировать профиль{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Редактирование профиля</h2>
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_username" class="form-label">Имя пользователя</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_first_name" class="form-label">Имя</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.first_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_last_name" class="form-label">Фамилия</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.last_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_password" class="form-label">Новый пароль</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>
{% endblock %}
